@charset "utf-8";

/* common setting */
html {
  font-family: "Galmuri11", sans-serif;
  background: url(../image/star-small.svg) no-repeat,
    linear-gradient(180deg, #1f1425 56.77%, #735e7e 100%);
  background-position: 50% 0%;
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 1;
}

body {
  text-align: center;
}

a {
  color: #fff;
}

.boldFont {
  font-family: "Galmuri11", sans-serif;
  font-weight: bold;
}

.section3,
.section4,
.section5 {
  margin-top: 12.5rem;
}

.subHeadingContainer {
  margin-bottom: 1.875rem;
  text-align: center;
}

button {
  all: unset;
}
/* mobile, tablet header */
header {
  width: calc(100% - 2.5rem);
  height: 81.5px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}

.bunny {
  width: 1.88rem;
}

header .mobileGNB > li > .menuBtn,
header .mobileGNB > li > .menuClose {
  width: 2.5rem;
}

header .mobileGNB > li > .menuBtn {
  /* display: none; */
}

header .mobileGNB > li > .menuClose {
  display: none;
}

header .mobileGNBdrop {
  display: none;
  position: absolute;
  background-color: #1f1425f0;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 1;
}

.profileContainer {
  position: relative;
}

.profileContainer img:nth-child(1),
.profileContainer img:nth-child(2),
.profileContainer img:nth-child(3),
.profileContainer img:nth-child(4) {
  position: absolute;
  width: 2rem;
}

.profileContainer img:nth-child(1) {
  top: -0.8rem;
  left: -0.8rem;
}
.profileContainer img:nth-child(2) {
  top: -0.8rem;
  right: -0.8rem;
}
.profileContainer img:nth-child(3) {
  bottom: -0.8rem;
  left: -0.8rem;
}
.profileContainer img:nth-child(4) {
  bottom: -0.8rem;
  right: -0.8rem;
}

header .mobileGNBdrop li:first-child {
  width: 45%;
  margin: 0 auto;
  margin-top: 1.875rem;
}

header .mobileGNBdrop li:nth-child(2) {
  font-size: 2.9375rem;
  margin-top: 1.3rem;
}
header .mobileGNBdrop li:nth-child(3) {
  font-size: 1.25rem;
}

header .mobileGNBdrop li:nth-child(4),
header .mobileGNBdrop li:nth-child(5),
header .mobileGNBdrop li:nth-child(6) {
  font-size: 0.875rem;
}

header .mobileGNBdrop li:nth-child(4) {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

header .mobileGNBdrop li:nth-child(5),
header .mobileGNBdrop li:nth-child(6) {
  display: flex;
  align-items: flex-end;
  column-gap: 1.3rem;
  width: 12.5rem;
  margin: 0 auto;
  margin-bottom: 0.6rem;
}

header .mobileGNBdrop li:nth-child(5) img {
  width: 1.88rem;
}

header .mobileGNBdrop .smallPhoneContainer {
  width: 1.88rem;
}

header .mobileGNBdrop li:nth-child(6) {
  top: 80.5vh;
}
header .mobileGNBdrop li:nth-child(6) img {
  width: 1.13rem;
}

/**** section1 ****/
/* logo */
.section1 h2 {
  text-align: center;
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
}

/* category */
.section1 .category {
  text-align: center;
}

.section1 .category li {
  margin-bottom: 2rem;
}

.section1 .category li:last-child {
  margin-bottom: 1rem;
}

/* social icon */
.socialIcon {
  position: absolute;
  top: 82.5vh;
  left: 1.27rem;
}

.socialIcon li:first-child {
  margin-bottom: 1.3rem;
}

/* arrow */
.scrollIcon {
  width: 1.8rem;
  display: block;
  position: absolute;
  left: 50%;
  top: 94vh;
  transform: translate(-50%);
}

/**** section2 ****/
.section2 {
  margin-top: 15.625rem;
  text-align: center;
}

.aboutContainer h3 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.aboutContainer ul {
  font-size: 1.25rem;
}

.aboutContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.9rem;
}

.aboutContainer ul img {
  width: 1.875rem;
  margin-right: 0.7rem;
}

.aboutContainer ul li:last-child {
  margin-bottom: 4.8rem;
}

.info p {
  color: #000;
  font-size: 3.3vw;
}

.info > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.96rem;
  white-space: nowrap;
  line-height: 1.3rem;
  margin-bottom: 1.2rem;
}

.info .expandArrow {
  margin-bottom: 1.7rem;
}

.info .expandArrow a {
  display: block;
  margin-bottom: 0.5rem;
}

.info .expandArrow img {
  width: 1.8rem;
}

.expandInfo {
  position: relative;
  /* display: none; */
  z-index: 1;
}

.expandInfo .expandInfoText {
  width: 80%;
  position: absolute;
  text-align: left;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.expandInfo button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

.expandInfo button img {
  width: 100%;
}

.expandInfoImg img:first-child {
  display: block;
}

.expandInfoImg img:last-child {
  display: none;
}

/**** section3  ****/
.section3 ul {
  text-align: left;
  margin: 0 auto;
  width: 15rem;
}

.section3 ul li {
  font-size: 1.33rem;
  display: flex;
  gap: 1.3rem;
  margin-bottom: 1rem;
}

.section3 ul li:last-child {
  margin-bottom: 4rem;
}

.section3 ul li img {
  width: 2.3rem;
}

.blackBoxContainer {
  margin-bottom: 1.25rem;
}

.toolContainer {
  margin: 0 auto;
}
/**** section4 ****/
.section4 ul:first-child {
  display: flex;
  justify-content: space-around;
}

.projectBox .projectBtnContainer {
  display: none;
}

.projectBox .tabletBtn {
  display: none;
}

.gameBoy {
  /* 일단 보여지기용 이미지. 교체 필수 */
  margin-top: 1.7rem;
}

.gameBoy ul {
  /* 프로젝트 제목, 해시태그 일단 숨김 */
  display: none;
}

.btnContainer {
  margin-top: 0.7rem;
}

.btnContainer button:first-child img {
  margin-right: 1.4rem;
}

/**** section5 ****/
.section5 {
  font-size: 1.875rem;
}
.section5 ul li {
  margin-bottom: 4.4rem;
}
.section5 ul li a {
  display: block;
}
.section5 ul li a p {
  margin-top: 0.9rem;
}
.section5 ul li:first-child img {
  width: 9.38rem;
}

.section5 ul li:nth-child(2) img {
  width: 5.63rem;
}

.section5 ul li:last-child img {
  width: 8.94rem;
}

/**** footer ****/
footer {
  text-align: center;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  margin-bottom: 2.25rem;
  margin-top: 9rem;
}
