@charset "utf-8";
#section1 h1 {
  font-size: 3.125rem;
  padding-top: 6.5rem;
}

#section1 h2 {
  font-size: 0.9rem;
}

/* section2 */
#section2 {
  margin-bottom: 10rem;
}
#section2 #pjtImg {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

/* pc border hide */
.borderContainer img:nth-child(2) {
  display: none;
}

.borderContainer {
  position: relative;
}

/* btn 3개 */
.btnContainer {
  display: flex;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2.375rem;
  width: 100%;
  justify-content: space-evenly;
  z-index: 11;
}

.btnContainer img,
.btn_view img,
.btn_review img {
  height: 100%;
}

.btn_overview {
  filter: grayscale(0.7);
  cursor: pointer;
}

.btn_info {
  cursor: pointer;
}

.btn_view {
  position: absolute;
  height: 2.375rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

#tab_menu {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
}

#tab_menu li:first-child {
  font-size: 4vw;
  top: 47%;
  transform: translateY(-50%);
  position: absolute;
}

#tab1 h3 {
  margin-bottom: 0.2rem;
}

#tab_menu .txt {
  margin: 2rem 0;
  height: 25%;
}

#tab1 {
  /* display: none; */
}

#tab2 {
  display: none;
  line-height: 6vw;
  font-size: 3.5vw;
}

#tab2 #tab_menu li {
  font-size: 3vw;
}

#tab2 h3 {
  font-size: 5vw;
  margin-bottom: 2vw;
}

/* section3 */
.btn_review {
  position: absolute;
  height: 2.375rem;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

#section3 .borderContainer p {
  font-size: 4vw;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 6.5vw;
  color: rgba(255, 255, 255, 0.8);
}

#section3 a {
  font-weight: bold;
  text-decoration: underline;
}
