@charset "utf-8";
html {
  font-family: "Galmuri11", sans-serif;
  background: url(../image/star-tablet.svg) no-repeat,
    linear-gradient(180deg, #1f1425 56.77%, #735e7e 100%);

  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 1;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  position: relative;
}

a {
  color: #fff;
}

/* header */
header {
  width: calc(100% - 2.5rem);
  height: 81.5px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}

.bunny {
  width: 1.88rem;
}

header .mobileGNB > li > .menuBtn,
header .mobileGNB > li > .menuClose {
  width: 2.5rem;
}

/* 여닫기 버튼 */
header .mobileGNB > li > .menuClose {
  display: none;
}

header .mobileGNBdrop {
  display: none;
  border: 5px double #fff;
  top: 15vh;
  position: absolute;
  background-color: #1f1425f0;
  width: 100%;
  left: 0;
}

.profileContainer {
  position: relative;
}

.profileContainer img:nth-child(1),
.profileContainer img:nth-child(2),
.profileContainer img:nth-child(3),
.profileContainer img:nth-child(4) {
  position: absolute;
  width: 2rem;
}

.profileContainer img:nth-child(1) {
  top: -0.8rem;
  left: -0.8rem;
}
.profileContainer img:nth-child(2) {
  top: -0.8rem;
  right: -0.8rem;
}
.profileContainer img:nth-child(3) {
  bottom: -0.8rem;
  left: -0.8rem;
}
.profileContainer img:nth-child(4) {
  bottom: -0.8rem;
  right: -0.8rem;
}

header .mobileGNBdrop li:first-child {
  width: 45%;
  margin: 0 auto;
  margin-top: 1.875rem;
}

header .mobileGNBdrop li:nth-child(2) {
  font-size: 2.9375rem;
  margin-top: 1.3rem;
}
header .mobileGNBdrop li:nth-child(3) {
  font-size: 1.25rem;
}

header .mobileGNBdrop li:nth-child(4),
header .mobileGNBdrop li:nth-child(5),
header .mobileGNBdrop li:nth-child(6) {
  font-size: 0.875rem;
}

header .mobileGNBdrop li:nth-child(4) {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

header .mobileGNBdrop li:nth-child(5),
header .mobileGNBdrop li:nth-child(6) {
  display: flex;
  align-items: flex-end;
  column-gap: 1.3rem;
  width: 12.5rem;
  margin: 0 auto;
  margin-bottom: 0.6rem;
}

header .mobileGNBdrop li:nth-child(5) img {
  width: 1.88rem;
}

header .mobileGNBdrop .smallPhoneContainer {
  width: 1.88rem;
}

header .mobileGNBdrop li:nth-child(6) img {
  width: 1.13rem;
}

header .mobileGNBdrop li:last-child {
  margin-bottom: 2rem;
}
