@charset "utf-8";
/* 768x1024  */
html {
  background: url(../tablet/image/star-tablet.svg) no-repeat 50% 0,
    linear-gradient(180deg, #1f1425 56.77%, #735e7e 100%);
}
.topBtn {
  font-size: 70%;
}

/**** section1 ****/
.section1 h2 img {
  width: 75%;
}

.section1 h2 {
  margin-bottom: 5rem;
}

.section1 .category img {
  width: 31%;
}

.profileContainer {
  width: 60%;
  margin: 0 auto;
}

header .mobileGNBdrop {
  top: 16vh;
}

header .mobileGNBdrop li:first-child {
  margin-top: 10%;
}

header .mobileGNBdrop li:last-child {
  margin-bottom: 4rem;
}

/**** section2 ****/
.section2 {
  margin-top: 25rem;
}

.aboutContainer ul li {
  margin-bottom: 5.5rem;
}

.aboutContainer ul {
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
}

.aboutContainer ul li:last-child {
  margin-bottom: auto;
}

.expandInfoImg img:first-child {
  display: none;
}

.expandInfoImg img:nth-child(2) {
  display: block;
}

.expandInfo button {
  left: unset;
  right: 0;
  transform: none;
  width: 11%;
  height: 100%;
}

.info p {
  font-size: 2.3vw;
}

.expandInfo .expandInfoText {
  width: 70%;
  position: absolute;
  text-align: left;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
}

/**** section3 ****/
.toolContainer {
  margin: 0;
}

.toolFlexContainer {
  display: flex;
  margin-top: 4.5rem;
  justify-content: center;
  column-gap: 5rem;
}

/**** section4 ****/
.swiper {
  padding-bottom: 10%;
  width: 100%;
}

.swiper-button-prev {
  width: 7%;
  left: 41%;
}
.swiper-button-next {
  right: 41%;
  width: 7%;
}

/**** section5 ****/
.section5 ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 3.5rem;
}

.section5 ul li:first-child img {
  width: 9.38rem;
}

.section5 ul li:nth-child(2) img {
  width: 5.63rem;
}

.section5 ul li:last-child img {
  width: 8.94rem;
}
