@charset "utf-8";
/* 1440x1024 */
html {
  background: url(../pc/image/star-pc.svg) no-repeat 50% 0,
    linear-gradient(180deg, #1f1425 56.77%, #735e7e 100%);
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.topBtn {
  max-width: 70px;
  right: 3rem;
  font-size: 100%;
}

.section3,
.section4,
.section5 {
  margin-top: 15rem;
}

header {
  width: calc(100% - 3.75 * 2rem);
  margin-top: 2rem;
}

.bunny {
  width: 3rem;
}

header .mobileGNB > li > .menuBtn {
  display: none;
}

/**** section1 ****/
.section1 h2 {
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 4.7rem;
}

.section1 h2 img {
  width: 62.5%;
  max-width: 1000px;
}

.section1 .category {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.section1 .category li {
  margin-bottom: 0;
  width: 20%;
  max-width: 450px;
}

.section1 .category img {
  width: 100%;
}

.socialIcon {
  display: flex;
  column-gap: 2rem;
  margin-top: 6.2rem;
}

.socialIcon li:first-child {
  margin-bottom: 0;
}

.socialIcon img {
  width: 3rem;
}

.scrollIcon {
  width: 3rem;
}

/**** section2 ****/
.info p:first-child {
  font-size: 1.875rem;
}

.info p:last-child {
  font-size: 1.66vw;
}

.expandInfo {
  width: 80%;
  margin: 0 auto;
}

.expandInfoImg img:last-child {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
  position: relative;
}

.expandInfo .expandInfoText {
  width: 65%;
  top: 26%;
}

.expandInfo button {
  width: 11%;
  font-size: 1.5vw;
}

.subHeadingContainer > img {
  height: 2.67rem;
}

.aboutContainer h3 {
  font-size: 5rem;
}

.aboutContainer ul {
  font-size: 2.5rem;
}

.aboutContainer ul img {
  width: 2.5rem;
}

.info .expandArrow a {
  font-size: 1.875rem;
}

.info .expandArrow img {
  width: 2.5rem;
}

.info > p {
  margin-bottom: 3rem;
}

/**** section 3 ****/
.section3 ul li {
  font-size: 1.875rem;
}

.section3 ul {
  width: unset;
  margin-left: 16.5%;
}

.blackBoxContainer {
  margin-bottom: 2.5rem;
}

.blackBoxContainer img {
  width: 30rem;
}

.section3 ul li img {
  width: 3.25rem;
}

/**** section4 ****/
/* pc 호버 이벤트 버튼 */
/* .projectBox .projectBtnContainer {
  display: block;
}

.projectBtnContainer {
  font-family: "Galmuri11", sans-serif;
  font-weight: bold;
  font-size: 1.5625rem;
}

.projectBtnContainer img {
  opacity: 0;
  width: 1rem;
  margin-right: 1rem;
}

.projectBox li:hover .projectBtnContainer img {
  opacity: 100%;
} */

.gameBoy {
  width: 35%;
  max-width: 450px;
}

.gameBoyContainer {
  display: flex;
  justify-content: center;
  column-gap: 3%;
  width: 85%;
  margin: 0 auto;
}

/* .gameBoy ul li {
  font-size: 1.125rem;
}

.gameBoy ul li:first-child {
  font-size: 1.875rem;
}

.section4 ul:first-child {
  margin-top: 3rem;
}

.gameBoy ul li:nth-child(3),
.gameBoy ul li:nth-child(4),
.gameBoy ul li:nth-child(5) {
  margin-bottom: 0.5rem;
}

.gameBoy ul li:nth-child(2) {
  margin-bottom: 4rem;
} */

.projectBox .tabletBtn {
  display: none;
}

/**** footer ****/
.section5 ul li:first-child img {
  width: 14.375rem;
}

.section5 ul li:nth-child(2) img {
  width: 7.5rem;
}

.section5 ul li:last-child img {
  width: 13.27625rem;
}
