@charset "utf-8";
/* 1440x1024 */
html {
  background: url(../pc/image/star-pc.svg) no-repeat,
    linear-gradient(180deg, #1f1425 56.77%, #735e7e 100%);
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.topBtn {
  max-width: 70px;
  right: 3rem;
  font-size: 100%;
}

.section3,
.section4,
.section5 {
  margin-top: 15rem;
}

header {
  width: calc(100% - 3.75 * 2rem);
  margin-top: 2rem;
}

.bunny {
  width: 3rem;
}

header a {
  display: block;
}

header a:first-child:hover .bunny {
  scale: 130%;
}

header .mobileGNB > li > .menuBtn {
  /* display: none; */
  width: 3rem;
}
header .mobileGNB:hover {
  cursor: pointer;
  scale: 130%;
}

/**** section1 ****/
.section1Container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.section1 h2 {
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  margin-bottom: 4.7rem;
}

.section1 h2 img {
  width: 100%;
  max-width: 1000px;
}

.section1 .category {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: center;
  column-gap: 5%;
}

.section1 .category li {
  width: 100%;
  max-width: 450px;
  margin-bottom: 0;
}

@media all and (max-height: 900px) {
  .section1 h2 img {
    width: 80%;
  }
  .section1 .category {
    column-gap: 2rem;
  }
  .section1 .category li {
    width: 22%;
  }
  .section1 h2 {
    margin: 0 auto;
    margin-bottom: 4.7rem;
  }
}

.section1 .category li:last-child {
  margin-bottom: 0;
}

.section1 .category img {
  width: 100%;
}

.section1 .category li::after {
  opacity: 0;
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: url(../common/image/redBall.svg) no-repeat;
}

.section1 .category li:hover::after {
  opacity: 100%;
}

.socialIcon {
  display: flex;
  column-gap: 2rem;
  margin-top: 8rem;
}

.socialIcon li:first-child {
  margin-bottom: 0;
}

.socialIcon li:hover {
  scale: 120%;
}

.socialIcon img {
  width: 3rem;
}

.scrollIcon {
  width: 3rem;
}

/**** section2 ****/
.info p:first-child {
  font-size: 1.875rem;
}

.info p:last-child {
  font-size: 1.66vw;
}

.expandInfo {
  width: 80%;
  margin: 0 auto;
}

.expandInfoImg img:last-child {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
  position: relative;
}

.expandInfo .expandInfoText {
  width: 65%;
  top: 26%;
}

.expandInfo button {
  width: 11%;
  font-size: 1.5vw;
}

.subHeadingContainer > img {
  height: 2.67rem;
}

.aboutContainer h3 {
  font-size: 5rem;
}

.aboutContainer ul {
  font-size: 2.5rem;
}

.aboutContainer ul img {
  width: 2.5rem;
}

.info .expandArrow a {
  font-size: 1.875rem;
}

.info .expandArrow img {
  width: 2.5rem;
}

.info > p {
  margin-bottom: 3rem;
}

/**** section 3 ****/
.section3 ul li {
  font-size: 1.875rem;
}

.section3 ul {
  width: unset;
  margin-left: 16.5%;
}

.blackBoxContainer {
  margin-bottom: 2.5rem;
}

.blackBoxContainer img {
  width: 30rem;
}

.section3 ul li img {
  width: 3.25rem;
}

/**** section4 ****/
.swiper {
  padding-bottom: 9%;
  width: 90%;
}

.swiper-button-prev {
  width: 4.5%;
  left: 43%;
  bottom: 3%;
}
.swiper-button-next {
  right: 43%;
  bottom: 3%;
  width: 4.5%;
}
.swiper-slide:hover {
  scale: 110%;
}

/**** footer ****/
.section5 ul li:first-child img {
  width: 14.375rem;
}

.section5 ul li:hover {
  scale: 110%;
}

.section5 ul li:nth-child(2) img {
  width: 7.5rem;
}

.section5 ul li:last-child img {
  width: 13.27625rem;
}
