@charset "utf-8";
#tab2 .txt {
  font-size: 1.8rem;
}

#tab2 .txt p:first-of-type {
  margin-bottom: 6rem;
}

#tab2 h3 {
  font-size: 2.5rem;
}

@media all and (min-width: 1025px) and (max-width: 1725px) {
  #tab2 h3 {
    font-size: 2vw;
  }

  #tab2 .txt {
    font-size: 1.5vw;
  }

  #tab2 .txt p:first-of-type {
    margin-bottom: 3.5rem;
  }
}
